.fade {
  opacity: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInOut {
  from {
    opacity: 0.2;
  }

  50% {
    opacity: 0.9;
  }  

  to {
    opacity: 0.2;
  }
}

.navbar {
  background: linear-gradient(90deg, rgb(119, 118, 136) 0%, rgb(213, 208, 235) 100%);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: rgba(0, 0, 0, .8);
  text-decoration: none;
}

.navbar-logo {
  color: #fff;
  cursor: pointer;
  padding-top: 0.3em;
  transition: all 0.5s ease;
  display: flex;
  margin-left: 35px;
}

.navbar-logo-text>h1 {
  font-weight: 600;
  color: rgba(0, 0, 0, .8);
  text-decoration: none;
  font-size: 42px;
  padding-top: 4px;
  margin-left: 17px;
}

.fa-firstdraft {
  margin-left: 0.5rem;
  font-size: 1.6rem;
}

.fa-user {
  padding-bottom: 15px;
}

ul {
  padding-inline-start: 0px;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 28px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
}

.nav-item {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  margin-top: 25px;
}

/* navigation icon sizes */
i.fas,
i.fa {
  font-size: 1.8em;
}

label.nav-icon-label {
  cursor: pointer;
  padding-left: 10px;
  font-size: 1.4em;
}

a.dropdown-toggle.nav-link {
  margin-right: 0px;
}

div.dropdown-menu.show {
  padding-top: 0px;
  background-color: rgb(33, 187, 111);
  z-index: 2500;
}

.dropDownItem {
  font-size: 2rem;
}

.mobile-icon {
  padding-right: 12px;
  margin-left: 20px;
}

#dropdownLogoutIcon {
  padding-right: 12px;
  margin-top: 10px;
}

#dropdownProfileIcon {
  padding-right: 12px;
}

.dropdown-text {
  font-size: 1.8rem;
  padding-bottom: 20px;
  margin-bottom: 16px;
}

.login-container {
  margin-top: 150px;
  margin-left: 28%;
}

.login-sign-header {
  margin-bottom: 25px;
}

.login-sign-topinput {
  margin-top: 25px !important;
}

.register-container {
  margin-top: 126px;
  margin-left: 28%;
}

.btn-signup,
.btn-login {
  font-size: 2em;
}

.main-link {
  font-size: 1.5em;
}

/* styling of selected search type */
.notSelectedFieldSet {
  padding: 10px;
  padding-top: 10px;
  background-color: rgba(255, 255, 255, 0.911);
  font-size: 2rem;
  border-style: ridge;
  border-left: 20px solid #ffffff;
  border-radius: 14px;
}

.selectedFieldSet {
  padding: 10px;
  background-color: rgba(151, 168, 150, 0.219);
  font-size: 2rem;
  border-style: ridge;
  border-left: 20px solid #1215b3;
  border-radius: 14px;
}

i.fas.fa-globe {
  font-size: 4em;
  margin-right: 30px;
}

.header-label {
  font-size: 4em;
}

#showMapGuide {
  color: rgb(182, 9, 9);
  font-weight: bold;
  font-size: 0.9em;
  max-width: 200px;
  min-width: 220px;
  padding: 2%;
  border-radius: 15px;
  transition: all 0.4s ease-out;
}

.uk-guide-map {
  max-height: 650px !important;
  margin-right: auto;
}

#showMapGuide:hover,
#showMapGuide:focus {
  box-shadow: 0 1em 1.5em -0.5em #072902;
  transform: translateY(-0.15em);
}

#dropdown-months-toggle {
  font-size: 1.5em;
}

#searchSubmitButton {
  font-size: 1.5em;
}

.form-radio {
  margin-left: 25px;
  width: 0.7em;
  height: 0.7em;
}

.MDBInput>label {
  font-size: 5rem;
}

i.far.fa-trash-alt.fa-lg:hover {
  cursor: pointer;
}

.mapPreview {
  width: 100%;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

.spinner-show {
  display: inline;
}

.submit-btn-text {
  font-weight: bold;
  padding-left: 20px;
}

.submit-search-btn {
  height: 80px;
}

/* profile page */
.profile-card {
  max-width: 63%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 140px;
}

.profile-heading {
  background-color: royalblue;
  font-size: 2em;
}

.profile-main-heading {
  font-weight: 500;
  font-size: 35px;
}

.profile-text {
  padding-bottom: 2%;
  padding-top: 2%;
  font-size: 2em;
}

.profile-favourites-list {
  background-color: rgba(38, 46, 117, 0.376);
}

.profile-favourites-list:hover {
  box-shadow: 3px 3px 20px 4px rgba(7, 0, 27, 0.548);
 
}

li.list-group-item.profile-favourites-list {
  padding: 0px;
}

li.list-group-item.profile-favourites-list:hover {
  font-weight: bold;
}

.profile-favourite-entry {
  font-style: normal;
  padding-left: 14px;
  width: 88%;
  background-color: rgb(173, 176, 203);
  margin-bottom: 0px;
  cursor: pointer;
}

.trash-profile {
  font-size: 3em;
  float: right;
  padding-top: 0.4em;
  padding-right: 17px;
}

.trash-profile:hover {
  font-weight: bold;
  color: rgb(250, 0, 0);
}

.profile-footer {
  margin-top: 4%;
}

.profile-footer-button {
  font-size: 1.75em;
  float: right;
}

.profile-footer-button:hover {
  box-shadow: 3px 3px 3px 4px rgba(7, 0, 27, 0.548);
  font-weight: bold;
}

.deleteAccountEmail {
  font-size: 1.75em;
}

.iconDeleteAccount {
  margin-top: 3%;
  margin-right: 4%;
}

.delete-profile-error {
  min-height: 50px;
}

/* favourites page */
.card-img,
.card-img-top {
  max-height: 275px;
  max-width: 100%;
}

.fa-bookmark:before {
  margin-right: 15px;
}

.favourite-input-title {
  background-color: #1821972f !important;
}

.login-icon-lock,
.register-icon-user {
  margin-right: 25px;
}

.favourite-card-display-button {
  font-size: 1em;
}

.favourite-card-display-button:hover {
  font-weight: bold;
  box-shadow: 0 3px 18px black;
}

.favourite-card-body>.fa-trash-alt:before {
  position: relative;
  font-size: 1.7em;
  padding-left: 100%;
  top: 8px;
}

.favourite-card-body>.fa-trash-alt:hover {
  font-weight: bold;
}

.favourites-container {
  padding-top: 50px;
  margin-left: 15%;
}

.favourites-title {
  font-size: 2.2em;
  font-weight: bold;
  margin-top: 100px;
  text-align: center;
  opacity: 0.8;
}

div.favourite-card-header.card-header {
  margin-top: 10px;
  min-height: 100px;
}

.favourite-card:hover {
  box-shadow: 0 8px 28px rgba(0, 0, 0, 0.568);
  transform: translateY(-0.1em);
  transition: all 0.4s ease-out;
}

/* search form page */
.form-card {
  padding-top: 90px;
  margin-top: 30px;
  padding-left: 12%;
}

.searchRadio {
  float: right;
  margin: 10px;
  box-shadow: none;
  height: 1.3em;
}

.radiodiv {
  margin-top: 3px;
  margin-right: 2px;
  display: inline-block;
  overflow: hidden;
}

.dialog {
  box-shadow: 0 14px 28px black;
  position: static;
  left: 20%;
  top: 20%;
  z-index: 3;
}

form>fieldset {
  padding-top: 0px;
  padding-bottom: 20px;
  margin-top: 0px;
  margin-bottom: 15px;
}

.inputLabels {
  margin-bottom: 1px;
  margin-top: 15px;
  font-size: 0.8em;
  color: rgb(13, 16, 47);
}

.monthsInputLabel {
  margin-bottom: 0px;
  margin-top: 15px;
  margin-bottom: 0px;
  font-size: 1.5em;
  color: rgb(13, 16, 47);
}

.form-lg {
  margin-top: 1px;
}

#dropdown-months-button {
  margin-bottom: 40px;
  font-size: 1.4em;
}

.elementHide {
  display: none;
}

.search-map-div {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.row-map {
  margin-left: 0px;
  margin-right: 0px;
  text-align: left;
  padding-left: 0px;
  padding-right: 0px;
}

.col-map-display {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.dropdown-item {
  font-weight: bold;
  background-color: rgb(33, 187, 111);
  font-size: 1.8rem;
}

.dropdown-item:hover {
  font-weight: bold;
  background-color: rgb(103, 241, 103);
}

.dropdown-button:hover {
  font-weight: bold;
  background-color: rgb(33, 187, 111);
}

.dropdown-button:hover {
  font-weight: bold;
  background-color: rgb(103, 241, 103);
}

.dropdown-button.active {
  color: #030320;
  font-weight: bold;
  background-color: rgb(33, 187, 111);
}

.dropdown-button.active:hover {
  font-weight: bold;
  background-color: rgb(103, 241, 103);
}

.mobile-show {
  display: none;
}

/* map display screen */
.map-container {
  padding-top: 100px;
  position: relative;
}

.mapDisplay {
  display: block;
  width: 100%;
  margin-top: -138px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  z-index: 0;
}

.btn-back {
  position: fixed;
  font-size: 4em;
  padding-top: 12px !important;
  padding-bottom: 2px !important;
  padding-left: 9px !important;
  padding-right: 9px !important;
  border: 3px solid rgb(40, 46, 138);
  border-radius: 15px;
  box-shadow: 0 14px 18px rgb(4, 8, 56);
  left: 1.5%;
  top: 13%;
  z-index: 1000;
}

.favourites-container>.btn-back {
  font-size: 3em;
}

.btn-open-filter {
  position: fixed;
  font-size: 3em;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 27px;
  margin-right: 20px;
  border: 4px solid rgb(68, 84, 88);
  border-radius: 10px;
  box-shadow: 0 14px 18px rgb(4, 8, 56);
  right: 1.0%;
  top: 13%;
  z-index: 1000;
}

.btn-show-warnings,
.btn-show-analysis {
  width: 540px;
  position: fixed;
  font-size: 2.7em;
  padding-left: 0px;
  padding-right: 22px;
  padding-top: 4px;
  padding-bottom: 0px;
  text-align: center;
  margin: auto;
  border: 4px solid rgba(98, 17, 21, 0.561);
  border-radius: 10px;
  box-shadow: 0 14px 18px rgba(131, 7, 7, 0.479);
  left: 0%;
  right: 0%;
  top: 13%;
  z-index: 900;
}

.btn-show-analysis {
  animation: fadeInOut 1.5s infinite;
}

.crime-warning-item {
  font-size: 1.7em;
}

.fa-exclamation-triangle {
  font-size: 1.2em !important;
  padding-right: 0px;
}

.crime-warnings-icon {
  font-size: 1.2em !important;
  margin-right: 15px;
}

.filter-text {
  padding-left: 10px;
  padding-right: 10px;
}

#button-tooltip {
  background-color: #99c5df;
}

.button-tooltip-text {
  font-size: 2em !important;
  color: #060706 !important;
  font-weight: bold !important;
}

.btn-add-to-favourites {
  position: fixed;
  font-size: 4em;
  padding-top: 12px !important;
  padding-bottom: 2px !important;
  padding-left: 1px !important;
  padding-right: 1px !important;
  border: 6px solid rgb(40, 46, 138);
  border-radius: 90px;
  box-shadow: 0 14px 18px rgb(4, 8, 56);
  bottom: 5%;
  right: 1.9%;
  z-index: 1000;
}

.btn-delete-favourite {
  position: fixed;
  font-size: 4em;
  padding-top: 12px !important;
  padding-bottom: 2px !important;
  padding-left: 1px !important;
  padding-right: 1px !important;
  border: 6px solid rgb(61, 5, 7);
  border-radius: 60px;
  box-shadow: 0 14px 18px rgb(46, 1, 1);
  bottom: 5%;
  right: 1.8%;
  z-index: 1000;
}

.btn-display-historiccrimes {
  animation: fadeIn 2s linear forwards;
  position: fixed;
  font-size: 2.7em;
  padding-top: 12px !important;
  padding-bottom: 10px !important;
  padding-left: 1px !important;
  padding-right: 20px !important;
  border: 6px solid rgba(170, 28, 28, 0.849);
  border-radius: 90px;
  box-shadow: 0 14px 18px rgb(82, 73, 24);
  bottom: 5%;
  left: 1.3%;
  z-index: 1000;
  transition: all 0.3s ease;
}

.btn-display-predictions {
  animation: fadeIn 3s linear forwards;
  position: fixed;
  font-size: 2.7em;
  padding-top: 12px !important;
  padding-bottom: 10px !important;
  padding-left: 1px !important;
  padding-right: 35px !important;
  border: 6px solid rgba(42, 138, 13, 0.849);
  border-radius: 90px;
  box-shadow: 0 14px 18px rgb(68, 58, 1);
  bottom: 16%;
  left: 1.3%;
  z-index: 1000;
  transition: all 0.3s ease;
}

.btn-filter-active,
.btn-filter-inactive {
  font-size: 1.75em;
  color: #1f2a1e;
  font-weight: bold;
  border: 2px solid rgb(68, 84, 88);
  border-radius: 3px;
  padding-top: 6px;
  padding-bottom: 7px;
  padding-left: 14px;
  padding-right: 16px;
  float: left;
}

.btn-filter-inactive {
  font-size: 1.75em;
  color: #0eb8d6;
  font-weight: normal;
  background-color: rgb(92, 75, 75) !important;
}

.btn-filter-active {
  box-shadow: 0 6px 6px rgb(67, 67, 70);
}

.btn-filter-inactive>i {
  padding-right: 19px;
}

.filter-button-icon {
  font-size: 1.2em !important;
}

.btn-footer {
  font-size: 1.5em;
}

.btn-footer:hover {
  font-size: 1.5em;
  box-shadow: 3px 3px 3px 4px rgba(12, 2, 41, 0.548);
}

.icon-popup {
  font-size: 2em;
  font-weight: bold;
  border-radius: 20px;
  transition: all 0.2s ease-out;
  box-shadow: 0 1em 1.5em -0.5em rgba(7, 0, 27, 0.548);
  transform: translateY(-0.5em);
}

.probabilityModal-icon {
  padding-right: 30px;
}

.prediction-modal-heading {
  font-size: 1.4em;
}

.chart-labellist {
  font-size: 1.4em;
  font-weight: bold;
}

/* recharts axis text */
.yAxis {
  font-size: 1.2em;
  font-weight: bold;
}

/* MEDIA Queries */
@media screen and (max-width: 1024px) {

  .btn-show-warnings>.tooltip-text {
    display: none;
  }

  .btn-show-warnings {
    width: auto;
    padding-right: 0px;
    padding-left: 0px;
    left: 50%;
    right: 50%;
    top: 15%;
    transition: all 0.5s ease;
  }

  /* navigation icon sizes */
  .navbar-logo-text>h1 {
    font-weight: 550;
    font-size: 35px;
  }

  a.navbar-logo.navbar-brand.active {
    padding-left: 95px;
  }

  div.navbar-nav {
    padding-right: 10px;
  }
}

@media screen and (max-width: 900px) {

  /* navigation icon sizes */
  .mobile-icon {
    font-size: 2.4em;
  }

  i.fas.fa-bars:before {
    color: rgb(5, 4, 4);
    font-size: 4rem;
    font-size: 0.9em;
    margin-right: 65px;
  }

  i.fas.fa-times::before {
    color: rgb(1, 1, 2);
    background-color: rgb(141, 141, 197);
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 60px;
  }

  /* navigation icon sizes */
  i.fas.mobile-icon::before {
    font-size: 1.7em;
  }

  .mobile-hide {
    display: none;
  }

  .mobile-show {
    display: block;
  }

  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    left: -100%;
    opacity: 1;
    transition: all 0.3s ease;
  }

  .nav-menu.active {
    background: rgb(141, 141, 197);
    top: 97px;
    left: 0;
    opacity: 1;
    transition: all 0.3s ease;
    z-index: 2000;
  }

  .nav-links {
    text-align: center;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #1888ff;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 16px;
    left: 0;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-10%, 15%);
    font-size: 3rem;
    cursor: pointer;
  }

  .mobile-nav-search {
    position: absolute;
    top: -15px;
    right: 240px;
  }

  .search-icon-label {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: rgba(0, 0, 0, .8);
    margin-left: 10px;
  }

  .label-dropdown {
    font-size: 2.5em;
    margin-left: 40px;
  }

  ul.nav-menu {
    height: 500px;
    /* was 1200px */
    text-align: left;
    padding-bottom: 28px;
  }

  label.nav-icon-label {
    font-size: 45px;
    padding-left: 0px;
  }

  a.navbar-logo.navbar-brand.active {
    padding-left: 5px;
  }
}

@media screen and (max-width: 815px) {

  .fa-search {
    transition: all 0.3s ease;
  }

  .navbar-logo-text>h1 {
    display: none;
  }

  .mobile-nav-search {
    top: -15px;
    right: 250px;
  }

  .navbar-logo {
    transform: translate(5%, 0%);
    transition: all 0.3s ease;
  }

  .btn-display-historiccrimes>.tooltip-text {
    display: none;
  }

  .btn-display-predictions>.tooltip-text {
    display: none;
  }

  .btn-display-predictions {
    padding-right: 0px !important;
    border: 6px solid rgba(42, 138, 13, 0.849);
    border-radius: 90px;
  }

  .btn-display-historiccrimes {
    padding-right: 4px !important;
    padding-left: 4px !important;
    border: 6px solid rgba(170, 28, 28, 0.849);
    border-radius: 90px;
  }
}

@media screen and (max-width: 650px) {

  .navbar-logo {
    transform: translate(-10%, 0%);
    transition: all 0.3s ease;
  }

  .mobile-nav-search {
    top: -15px;
    right: 220px;
    transition: all 0.3s ease;
  }
}